@import '~antd/dist/antd.css';

.numberToDo {

}

.delete {
    float:right;
    cursor: pointer;
    display: none;
    margin-right: 15px;
}

.item:hover .delete {
    margin-top: 5px;
    display: block;
}



.item {
    padding: 10px;
}

.item:hover {
    background-color: #bfbfbf;
}

.radioFalse {
    width: 20px;
    margin: 3px;
    height: 20px;
    border:solid 1px black;
    border-radius: 30px;
    cursor: pointer;
}

.radioTrue {
    width: 20px;
    height: 20px;
    border:solid 1px gold;
    margin: 3px;
    cursor: pointer;
    border-radius: 30px;
}

.textFalse {
    text-decoration: line-through;
    opacity: 0.4;
}